<!DOCTYPE html>
<html lang="en">
<head>
    <title>BGG stats generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/material-form.css" />
</head>
<body>
<div class="container" style="min-height: 400px;">
    <form id="form" onsubmit="return formSubmit(event);">
        <h1>BGG statistics generator</h1>
        <div class="form-group">
            <input type="text" name="username" id="username" required="required"/>
            <label class="control-label" for="username">BoardGameGeek username</label><i class="bar"></i>
        </div>
        <div class="form-radio">
            <div class="radio">
                <label>
                    <input type="radio" name="stats_type" value="radar" onclick="statsTypeChanged(this)" checked="checked"/><i class="helper"></i>Radar chart
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="stats_type" value="mechanics" onclick="statsTypeChanged(this)"/><i class="helper"></i>Group by mechanics
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="stats_type" value="categories" onclick="statsTypeChanged(this)"/><i class="helper"></i>Group by categories
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="stats_type" value="release_year" onclick="statsTypeChanged(this)"/><i class="helper"></i>Group by release year
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="stats_type" value="versus" onclick="statsTypeChanged(this)"/><i class="helper"></i>Collections comparison
                </label>
            </div>
        </div>
        <div class="form-group" id="versus_username_div" style="display: none;">
            <input type="text" name="versus_username" id="versus_username"/>
            <label class="control-label" for="versus_username">Other BGG username</label><i class="bar"></i>
        </div>
        <div class="button-container">
            <button class="button" type="submit"><span>Get some stats!</span></button>
        </div>
    </form>
</div>
<script language="javascript">
    function formSubmit(evt) {
        evt.preventDefault();
        getStats();
        return false;
    }

    function statsTypeChanged(elem) {
        var versus_username_div = document.getElementById("versus_username_div");
        var versus_username = document.getElementById("versus_username");
        if(elem.value == 'versus') {
            versus_username_div.style.display = 'block';
            versus_username.required = 'required';
        } else {
            versus_username_div.style.display = 'none';
            versus_username.removeAttribute("required");
        }
    }

    function getStats() {
        var username = document.getElementById("username").value;
        var stats_type = document.querySelector('input[name="stats_type"]:checked').value;
        if (stats_type == 'versus') {
            var versus_username = document.getElementById("versus_username").value;
            window.location.href = stats_type + "/" + username + "/" + versus_username;
        } else {
            window.location.href = stats_type + "/" + username;
        }
    }
</script>
</body>
</html>
