<!DOCTYPE html>
<html lang="en">
<head>
    <title>BGG stats generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form id="form" onsubmit="return formSubmit(event);">
    <label for="username">BGG Username:&nbsp;</label>
    <input type="text" name="username" id="username" value=""><br>
    <button type="submit" id="stats_button" >Get some stats!</button><br />
</form>
<div id="loader" style="display: none;">
    Loading...
</div>
<script language="javascript">
    function formSubmit(evt) {
        evt.preventDefault();
        getStats();
        return false;
    }

    function getStats() {
        var username = document.getElementById("username").value;
        var loader = document.getElementById("loader");
        var form = document.getElementById("form");
        form.style.display = "none";
        loader.style.display = "block";

        var url = "mechanics/"+username;
        var xmlhttp;
        xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4) {
                loader.style.display = "none";
                document.open();
                document.write(xmlhttp.responseText);
                document.close();
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
        window.history.pushState(url,"", url);
    }
</script>
</body>
</html>
